<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script th:inline="javascript">
        function newWrite(id){
            location.href='/detail/new/'+id
        }

       function pur_KDR(KDR_id){
             var token = $("meta[name='_csrf']").attr("content");
             var header = $("meta[name='_csrf_header']").attr("content");


             var id = KDR_id
             console.log(id);
               var url = '/Novel/KDR/Pur/'+id
               var data = {
                   id: id,

               };
               var param = JSON.stringify(data);

               $.ajax({
                   url: url,
                   type: "POST",
                   contentType: "application/json",
                   data: param,
                   beforeSend: function (xhr) {
                       xhr.setRequestHeader(header, token);
                   },
                   dataType: "json",
                   cache: false,
                   success: function (result) {
                       alert("결제완료! 보실 수 있습니다.");
                       location.href='/detail/novel/'+result;

                   },
                   error: function (jqXHR) {
                       if (jqXHR.status == 401) {
                           alert('로그인 후 이용해주세요');
                           location.href = '/members/login';
                       } else {
                           alert(jqXHR.responseText);
                           location.href = "/coinList";
                       }
                   }
               });


       }
        function ren_KDR(KDR_id){
             var token = $("meta[name='_csrf']").attr("content");
             var header = $("meta[name='_csrf_header']").attr("content");


             var id = KDR_id
             console.log(id);
               var url = '/Novel/KDR/Ren/'+id
               var data = {
                   id: id,

               };
               var param = JSON.stringify(data);

               $.ajax({
                   url: url,
                   type: "POST",
                   contentType: "application/json",
                   data: param,
                   beforeSend: function (xhr) {
                       xhr.setRequestHeader(header, token);
                   },
                   dataType: "json",
                   cache: false,
                   success: function (result) {
                       alert("결제완료! 보실 수 있습니다.");
                       location.href='/detail/novel/'+result;

                   },
                   error: function (jqXHR) {
                       if (jqXHR.status == 401) {
                           alert('로그인 후 이용해주세요');
                           location.href = '/members/login';
                       } else {
                           alert(jqXHR.responseText);
                           location.href = "/coinList";
                       }
                   }
               });


       }

        function pur_YES(YES_id){
             var token = $("meta[name='_csrf']").attr("content");
             var header = $("meta[name='_csrf_header']").attr("content");

             var id = YES_id
               var url = '/Novel/YES/Pur/'+id
               var data = {
                   id: id,

               };
               var param = JSON.stringify(data);

               $.ajax({
                   url: url,
                   type: "POST",
                   contentType: "application/json",
                   data: param,
                   beforeSend: function (xhr) {
                       xhr.setRequestHeader(header, token);
                   },
                   dataType: "json",
                   cache: false,
                   success: function (result) {
                       alert("결제완료! 보실 수 있습니다.");
                       location.href='/detail/novel/'+result;

                   },
                   error: function (jqXHR) {
                       if (jqXHR.status == 401) {
                           alert('로그인 후 이용해주세요');
                           location.href = '/members/login';
                       } else {
                           alert(jqXHR.responseText);
                           location.href = "/coinList";
                       }
                   }
               });

       }

        function ren_YES(YES_id){
             var token = $("meta[name='_csrf']").attr("content");
             var header = $("meta[name='_csrf_header']").attr("content");

             var id = YES_id
               var url = '/Novel/YES/Ren/'+id
               var data = {
                   id: id,

               };
               var param = JSON.stringify(data);

               $.ajax({
                   url: url,
                   type: "POST",
                   contentType: "application/json",
                   data: param,
                   beforeSend: function (xhr) {
                       xhr.setRequestHeader(header, token);
                   },
                   dataType: "json",
                   cache: false,
                   success: function (result) {
                       alert("결제완료! 보실 수 있습니다.");
                       location.href='/detail/novel/'+result;

                   },
                   error: function (jqXHR) {
                       if (jqXHR.status == 401) {
                           alert('로그인 후 이용해주세요');
                           location.href = '/members/login';
                       } else {
                           alert(jqXHR.responseText);
                           location.href = "/coinList";
                       }
                   }
               });

       }


        function clickRead(writeId){
             var token = $("meta[name='_csrf']").attr("content");
             var header = $("meta[name='_csrf_header']").attr("content");
            var Id = writeId;

             var url = '/Novel/detail/'+Id
               var data = {
                   id: Id,

               };
               var param = JSON.stringify(data);

             $.ajax({
                   url: url,
                   type: "POST",
                   contentType: "application/json",
                   data: param,
                   beforeSend: function (xhr) {
                       xhr.setRequestHeader(header, token);
                   },
                   dataType: "json",
                   cache: false,
                   success: function (result) {
                       alert("확인왐료! ");
                       location.href="/detail/novel/"+result

                   },
                   error: function (jqXHR) {
                       if (jqXHR.status == 401) {
                           alert('로그인 후 이용해주세요');
                           location.href = '/members/login';
                       } else {
                            //alert(jqXHR.responseText);
                           alert("구매부터 진행하셔야합니다.")
                            // 코인 구매 버튼 고르기 위해 자식창 만들기
                            if ($('#purchase-section').hasClass('active')) {
                                window.open("/popup/pur", 'pop', "width=650px, height=550px, scrollbar=no");
                            } else if ($('#rental-section').hasClass('active')) {
                                window.open("/popup/ren", 'pop', "width=650px, height=550px, scrollbar=no");
                            }

                                  // 자식창에서 구매할 코인에 대한 정보 받아오기
                             const checkPopupLoaded = setInterval(() => {
                             const value = document.getElementById("buttonId").value;
                             const str = document.getElementById("buttonStr").value;
                             console.log(value);
                             console.log(str);
                                if (value === 'kdr' || value === 'yes') {
                                    // 인터벌 해제
                                    clearInterval(checkPopupLoaded);
                                     if(value === 'kdr'){
                                      //고른 코인으로 구매하기
                                        if(str === 'Pur'){
                                            pur_KDR(Id) // 위에 function  정보 있으므로 불러오기
                                        }
                                        if(str === 'Ren'){
                                            ren_KDR(Id) // 위에 function  정보 있으므로 불러오기
                                        }

                                    }
                                    if(value === 'yes'){
                                           if(str === 'Pur'){
                                            pur_YES(Id)// 위에 function  정보 있으므로 불러오기
                                        }
                                        if(str === 'Ren'){
                                            ren_YES(Id) // 위에 function  정보 있으므로 불러오기
                                        }

                                    }
                                    document.getElementById("buttonId").value = '';
                                    document.getElementById("buttonStr").value = '';

                                }
                            }, 100);






                       }
                   }
               });




        }

       function kakaoShare(){
            Kakao.init('41ed69fd471052f7b0499765d2d16dfa');

            Kakao.Link.createCustomButton({
              container: '#shareKt',
              templateId: 111342, // 나의 앱 ID 작성
            });

        }


        function favoriteplus(){

              var InfoId = $('#InfoId').val();

             var token = $("meta[name='_csrf']").attr("content");
             var header = $("meta[name='_csrf_header']").attr("content");

             var url = '/favorite/plus/'+InfoId
               var data = {
                   InfoId: InfoId,

               };
               var param = JSON.stringify(data);

                $.ajax({
                   url: url,
                   type: "POST",
                   contentType: "application/json",
                   data: param,
                   beforeSend: function (xhr) {
                       xhr.setRequestHeader(header, token);
                   },
                   dataType: "json",
                   cache: false,
                   success: function (result) {
                      var count = result;
                      $('#favoriteCount1').text(count);
                      $('#favoriteCount2').text(count);
                      $('#favoriteplus').hide()
                      $('#favoriteminus').show()

                   },
                   error: function (jqXHR) {
                       if (jqXHR.status == 401) {
                           alert('로그인 후 이용해주세요');
                           location.href = '/members/login';
                       } else {
                           alert(jqXHR.responseText);

                       }
                   }
               });




        }


        function favoriteminus(){

              var InfoId = $('#InfoId').val();

             var token = $("meta[name='_csrf']").attr("content");
             var header = $("meta[name='_csrf_header']").attr("content");

             var url = '/favorite/minus/'+InfoId
               var data = {
                   InfoId: InfoId,

               };
               var param = JSON.stringify(data);

                $.ajax({
                   url: url,
                   type: "DELETE",
                   contentType: "application/json",
                   data: param,
                   beforeSend: function (xhr) {
                       xhr.setRequestHeader(header, token);
                   },
                   dataType: "json",
                   cache: false,
                   success: function (result) {

                      var count = result;
                     $('#favoriteCount1').text(count);
                      $('#favoriteCount2').text(count);
                      $('#favoriteplus').show()
                      $('#favoriteminus').hide()

                   },
                   error: function (jqXHR) {
                       if (jqXHR.status == 401) {
                           alert('로그인 후 이용해주세요');
                           location.href = '/members/login';
                       } else {
                           alert(jqXHR.responseText);

                       }
                   }
               });




        }


          $(document).ready(function() {
            // Function to set active state
            function setActiveSection(section) {
                $('.price-info dl').removeClass('active').addClass('inactive');
                $(section).removeClass('inactive').addClass('active');
            }

            // Initialize by activating the first section or any default section
            setActiveSection('#purchase-section'); // Example of default section

            // Handle section click
            $('#rental-section').click(function() {
                setActiveSection(this);
                // Handle the rental section click event
            });

            $('#purchase-section').click(function() {
                setActiveSection(this);
                // Handle the purchase section click event
            });

           /////////////////////////////////////////
            var InfoId = $('#InfoId').val();
            console.log(InfoId)


                   var token = $("meta[name='_csrf']").attr("content");
             var header = $("meta[name='_csrf_header']").attr("content");

             var url = '/favorite/'+InfoId
               var data = {
                   InfoId: InfoId,

               };
               var param = JSON.stringify(data);

                  $.ajax({
                   url: url,
                   type: "POST",
                   contentType: "application/json",
                   data: param,
                   beforeSend: function (xhr) {
                       xhr.setRequestHeader(header, token);
                   },
                   dataType: "json",
                   cache: false,
                   success: function (result) {
                   console.log(result)
                      var count = result;
                      $('#favoriteCount1').text(result);
                      $('#favoriteCount2').text(result);

                   },
                   error: function (jqXHR) {
                       if (jqXHR.status == 401) {
                           alert('로그인 후 이용해주세요');
                           location.href = '/members/login';
                       } else {
                           alert(jqXHR.responseText);

                       }
                   }
               });



               var retryValue = parseInt($('#retry').val(), 10);

                if (retryValue === 0) {
                    $('#favoriteplus').show();
                    $('#favoriteminus').hide();
                } else if (retryValue === 1) {
                    $('#favoriteplus').hide();
                    $('#favoriteminus').show();
                }











        });

    </script>

    <style>
        .contents{
            min-width:800px;
            display: flex;

        }
        .img_list{
            float: left;
            margin: 10px;
        }
        .img_list>img{
            width:200px;
            height:200px;
        }

        .Info_list{
             width:500px;
            height:200px;
            align-items: center;
            margin-top: 20px;
        }


        .btn{
            width:90px;
            margin-top: 30px;
        }





        /* 버튼 3개 */
        .btnBtn {
            display: flex; /* Flexbox를 사용하여 자식 요소를 수평으로 배치 */
            justify-content: center; /* 버튼들을 수평으로 가운데 정렬 */
            gap: 10px; /* 버튼 사이의 간격 조정 */
            margin: 10px;
            margin-bottom: 30px;
        }

         .favoriteBtn{
            width: 250px;
            border-radius: 4px;
            background-color: white;
            height: 50px;
         }

         .episodeBtn{
           width: 250px;
           border-radius: 4px;
           background-color: white;
           height: 50px;
         }

         .shareBtn{
            width: 200px;
            border-radius: 4px;
            background-color: white;
            height: 50px;
         }

         /* 버튼에 마우스를 올렸을 때의 스타일 */
            .favoriteBtn:hover,
            .episodeBtn:hover,
            .shareBtn:hover {
                background-color: #6c757d; /* 배경색 변경 */
                color: white; /* 텍스트 색상 변경 */
                transform: scale(1.05); /* 버튼 확대 효과 */
                border-color: #0056b3; /* 테두리 색상 변경 */
            }






 /* styles.css */

        .readBtn{
            background-color: white;
            border-radius: 4px;

        }

        .list{
            float: none;
             width:1200px;
             border: 1px solid #f8f8f8;
             text-align: center;
             display: block;
        }
        .list > table> thead{
            background-color : #f8f8f8;
            text-align:center;
        }
        .arris{
         width: 100px;
        }
         .price-info {
            display: flex;
            gap: 20px; /* 박스 간의 간격 */
        }

        .rental, .purchase {
            border: 1px solid #ddd; /* 박스의 테두리 */
            padding: 10px; /* 박스의 패딩 */
            border-radius: 5px; /* 모서리 둥글게 */
            width: 300px; /* 박스의 너비 */
            background-color: #f9f9f9; /* 배경색 */
        }

        .rental dt, .purchase dt {
            font-weight: bold;
        }

        .rental span, .purchase span {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }

        .rental svg, .purchase svg {
            margin-right: 5px;
        }

        .rental .coin, .purchase .coin {
            margin-left: 15px;
        }

        .rental div, .purchase div {
            margin-top: 10px;
        }
        .info-container {
            display: flex;
            gap: 10px; /* 아이콘과 텍스트 간의 간격 조정 */
            align-items: center; /* 수직 중앙 정렬 */
        }

        .info-item {
            display: flex;
            align-items: center;
        }

        .info-item p {
            margin: 0 0 0 5px; /* 텍스트와 아이콘 간의 간격 조정 */
        }



        .price-info {
            display: flex;
        }

        dl {
            cursor: pointer;
            padding: 10px;
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            flex: 1;
            transition: background-color 0.3s ease; /* Smooth transition for background color */
        }

        .active {
            background-color: #f0f0f0; /* Active state color */
        }

        .inactive {
            background-color: #ffffff; /* Inactive state color */
        }

        dl:hover {
            background-color: #e0e0e0; /* Hover effect */
        }

    </style>

</head>

<body>
<div layout:fragment="content">
    <h3 th:text="${writeInfo.title}"></h3>
    <input type="hidden" id="InfoId" th:value="${writeInfo.id}" >
    <input type="hidden" id="buttonId">
    <input type="hidden" id="buttonStr">
    <div>
        <div>
            <div class="contents">
                <div class="img_list">
                    <img th:if="${#strings.isEmpty(writeInfo.writeImg.imgUrl)}" th:src="@{/css/image/basic.jpg}" alt="Basic Image">
                    <img  th:unless="${#strings.isEmpty(writeInfo.writeImg.imgUrl)}" th:src="${writeInfo.writeImg.imgUrl}" alt="Write Image">

                </div>
                <div class="Info_list">
                    <p th:text="${writeInfo.member.nickname}"></p>
                    <p th:text="${writeInfo.category}"></p>
                    <div class="info-container">
                        <div class="info-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2 2 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386"/>
                            </svg>
                            <p th:text="${writeInfo.totalHeart}"></p>
                        </div>
                        <div class="info-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
                            </svg>
                            <p th:text="${writeInfo.totalView}"></p>
                        </div>
                    </div>

                    <p th:text="${writeInfo.detail}"></p>

                </div>
                <div class="btn"  th:if="${member.id == writeInfo.member.id}">
                    <button type="button"  class="btn btn-outline-secondary" th:value="${writeInfo.id}" onclick="newWrite(this.value)">회차쓰기</button>
                </div>


            </div>
            <div class="price-info">

                <dl class="rental"  id="rental-section">
                    <dt>
                        <strong>대여</strong>
                    </dt>
                    <dd>
                        <div >
                            <span>
                                키다리 코인
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
                                        <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936q-.002-.165.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.6 6.6 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                                    </svg>
                                    0.3코인<!--키다리 코인-->
                            </span>

                            <span class="coin">
                                예스 코인
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-yen" viewBox="0 0 16 16">
                                        <path d="M8.75 14v-2.629h2.446v-.967H8.75v-1.31h2.445v-.967H9.128L12.5 2h-1.699L8.047 7.327h-.086L5.207 2H3.5l3.363 6.127H4.778v.968H7.25v1.31H4.78v.966h2.47V14h1.502z"/>
                                    </svg>
                                    0.1코인<!--예스24 코인-->

                            </span>
                            <div> 대여기간 3일</div>

                        </div>
                    </dd>
                </dl>



                <dl class="purchase" id="purchase-section">
                    <dt>
                        <strong>소장</strong>
                    </dt>
                    <dd>
                        <div >
                            <span>
                                키다리 코인
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
                                        <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936q-.002-.165.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.6 6.6 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                                    </svg>
                                    0.7코인<!--키다리 코인-->
                            </span>

                            <span class="coin">
                                예스 코인
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-yen" viewBox="0 0 16 16">
                                        <path d="M8.75 14v-2.629h2.446v-.967H8.75v-1.31h2.445v-.967H9.128L12.5 2h-1.699L8.047 7.327h-.086L5.207 2H3.5l3.363 6.127H4.778v.968H7.25v1.31H4.78v.966h2.47V14h1.502z"/>
                                    </svg>
                                    0.5코인<!--예스24 코인-->

                            </span>


                        </div>
                    </dd>
                </dl>

            </div>

            <div >
                <div class="btnBtn">
                    <input type="hidden" th:value="${retry}" id="retry">
                    <button class="favoriteBtn" th:onclick="favoriteplus()" id="favoriteplus">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                        </svg>
                        <big>관심 <span id="favoriteCount1"></span></big>
                    </button>

                    <button  class="favoriteBtn" th:onclick="favoriteminus()" id="favoriteminus">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                        </svg>
                        <big>관심<span id="favoriteCount2"></span></big>
                    </button>


                    <div th:each="writeDetail, state : ${writeDetailList}">
                        <div th:if="${state.index == 0}">
                            <button class="episodeBtn" th:value="${writeDetail.id}" th:onclick="clickRead(this.value)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-hand-index" viewBox="0 0 16 16">
                                    <path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 1 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 0 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.035a.5.5 0 0 1-.416-.223l-1.433-2.15a1.5 1.5 0 0 1-.243-.666l-.345-3.105a.5.5 0 0 1 .399-.546L5 8.11V9a.5.5 0 0 0 1 0V1.75A.75.75 0 0 1 6.75 1M8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5 5 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.6 2.6 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046zm2.094 2.025"/>
                                </svg>
                                <big>첫회보기</big>
                                <small><span th:text="${writeDetail.miniTitle}"> </span></small>
                            </button>
                        </div>
                    </div>


                    <button type="button" id="shareKt"  class="shareBtn" th:onclick="kakaoShare()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-envelope-paper-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v1.133l.941.502A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765L2 3.133zm0 2.267-.47.25A1 1 0 0 0 1 5.4v.817l1 .6zm1 3.15 3.75 2.25L8 8.917l1.25.75L13 7.417V2a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1zm11-.6 1-.6V5.4a1 1 0 0 0-.53-.882L14 4.267zM8 2.982C9.664 1.309 13.825 4.236 8 8 2.175 4.236 6.336 1.31 8 2.982m7 4.401-4.778 2.867L15 13.117zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734Z"/>
                        </svg>

                        <big>카카오</big>공유하기
                    </button>
                </div>
            </div>



            <div class="list">
                <table>
                    <thead>
                    <tr>

                        <td style="width: 200px;">제목</td>
                        <td style="width: 200px;">등록일</td>
                        <td style="width: 100px;">댓글수</td>
                        <td style="width: 100px;">조회수</td>
                        <td style="width: 100px;">
                            추천
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2 2 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386"/>
                            </svg>

                        </td>
                        <td style="width: 200px;"></td>

                    </tr>
                    </thead>
                    <tbody th:each="writeDetail :  ${writeDetailList}">
                        <tr>
                            <td th:text="${writeDetail.miniTitle}"></td>
                            <td th:text="${writeDetail.regDate}"></td>
                            <td th:text="${writeDetail.commentCount}"></td>
                            <td th:text="${writeDetail.viewCount}"></td>
                            <td th:text="${writeDetail.heart}"></td>
                            <td>
                                <button type="button" class="readBtn" th:value="${writeDetail.id}" th:onclick=clickRead(this.value) >보기</button>
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>





</div>
</body>


</html>