<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:inline="javascript">

    </script>

    <style>

    </style>

</head>

<body>
<div layout:fragment="content">
    <h3 th:text="${writeInfo.title}" class="title"></h3>
    <a th:text="${write.miniTitle}"></a>
    <a th:text="${write.miniWrite}" readonly></a>



</div>
</body>


</html>