<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <script th:inline="javascript">



    </script>


    <style>


    </style>

</head>

<body>
<div layout:fragment="content">
    <h3>나의 글 목록</h3>
       <div>
            <div>
                <a href="/write/InfoForm">새글 작성</a>
            </div>
            <div>
                <div >
                    <table>
                        <tbody >
                        <tr th:each="Info: ${writeInfo}">
                            <td th:text="${Info.title}"></td>
                            <td th:text="${Info.detail}"></td>
                            <td th:text="${Info.category}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>


            </div>


        </div>

</div>
</body>


</html>