<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <title>조은북</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        let search = "";
        let orderByFront = "";
        let orderByBack = "";
        let category = "";
        let page =1;
        let loadingData = false;

        function Novel(id) {
            location.href = "/writeNovel/" + id;
        }

        function searchBtn() {
            search = $('#search').val();
            category = $('#category').val();
            if (search === "") {
                location.href = "/novel/" + category;
            } else {
                location.href = "/novel/" + category + "/" + search;
            }
        }

        function loadItems(page) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");


           search = $('#search').val();
            orderByFront = $('#orderByFront').val();
            orderByBack = $('#orderByBack').val();
            category = $('#category').val();

            if (loadingData) {
                return;
            }

            loadingData = true;

            $.ajax({
                type: "POST",
                url: "/novel/scrolling",
                data: {
                    "page": page,
                    "search": search,
                    "orderByFront": orderByFront,
                    "orderByBack": orderByBack,
                    "category": category
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (response) {
                    var newItems = response.content;
                    var container = $('#itemContainer');

                    newItems.forEach(function (item) {
                        var newItemHtml = `

                            <a href="/writeNovel/ + ${item.id}">
                                <div class="bookTable">
                                        <img src="${item.writeImg.imgUrl}" width="150px" height="155px">

                                    <p>${item.title}</p>
                                    <p>${item.member.nickname}</p>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2 2 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386"/>
                                        </svg>
                                        <a >${item.totalHeart}</a>
                                    </div>

                                </div>
                            </a>

                        `;
                        container.append(newItemHtml);
                    });
                    loadingData = false;
                },
                error: function (xhr, status, error) {
                    console.error("에러: ", xhr.responseText);
                    loadingData = false;
                }
            });
        }

        $(document).ready(function () {


            loadItems(page);

            $('#orderByFront').change(function () {
                orderByFront = $('#orderByFront').val();
                orderByBack = $('#orderByBack').val();
                location.href = "/novel/" + category + "/" + orderByFront + "/" + orderByBack;
            });

            $('#orderByBack').change(function () {
                orderByFront = $('#orderByFront').val();
                orderByBack = $('#orderByBack').val();
                location.href = "/novel/" + category + "/" + orderByFront + "/" + orderByBack;
            });

            $(window).scroll(function () {

                   console.log("scroll")
                var currentScroll = $(this).scrollTop();
                var windowHeight = $(window).height();
                var documentHeight = $(document).height();

                if (currentScroll + windowHeight >= documentHeight - 10 && !loadingData) {
                    loadItems(++page);
                }
            });
        });


         function getRandomColor() {
            var colors = ['#f3feb0', '#eceff7', '#e8fbf0']; // 빨강, 파랑, 노랑
            var randomIndex = Math.floor(Math.random() * colors.length);
            return colors[randomIndex];
        }

        // 페이지가 로드될 때 모든 .bookTable 요소에 랜덤 색상을 적용
        document.addEventListener('DOMContentLoaded', function() {
            var bookTables = document.querySelectorAll('.bookTable');
            bookTables.forEach(function(bookTable) {
                bookTable.style.backgroundColor = getRandomColor();
            });
        });
    </script>

    <style>
        .books {
            max-width: 1800px;
        }

        .bookTable {
              width: 150px;
              height:260px;
            margin: 10px;
            float: left;
            border: 1px solid #ccc;
            border-radius: 4px;
            text-align: center;

        }

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .search-container {
            display: flex;
            align-items: center;
        }

        .search, select {
            margin: 0;
        }

        button {
            margin-left: 5px;
        }

        .select-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .right-aligned {
            margin-left: auto;
        }


          #scrollToTopBtn {
                display: none;
                position: fixed;
                bottom: 20px;
                right: 20px;
                z-index: 99;
                font-size: 18px;
                border: none;
                outline: none;
                background-color: #007bff;
                color: white;
                cursor: pointer;
                padding: 15px;
                border-radius: 50%;
              }
    </style>
</head>

<body>
<div layout:fragment="content">
    <div>
        <h3 th:if="${writeInfoDto.category == T(com.book.write.constant.Category).Fantasy}">판타지</h3>
        <h3 th:if="${writeInfoDto.category == T(com.book.write.constant.Category).RomanceFantasy}">로맨스판타지</h3>
        <h3 th:if="${writeInfoDto.category == T(com.book.write.constant.Category).Romance}">로맨스</h3>
        <h3 th:if="${writeInfoDto.category == T(com.book.write.constant.Category).etc}">자유</h3>
        <input type="hidden" id="category" th:value="${writeInfoDto.category}"/>
    </div>
    <div class="container">
        <div>
            <input type="text" id="search" placeholder="검색할 제목을 써주세요" class="search">
            <button type="button" onclick="searchBtn()" style="background-color: white; border: 0px;">
                <img th:src="@{/css/image/search.png}" height="35">
            </button>
        </div>
        <div class="select-container right-aligned">
            <select id="orderByBack">
                <!-- Dto가 비어있거나 값이 'desc'일 경우 '내림차순'이 선택됨 -->
                <option value="desc" th:selected="${writeInfoDto.orderByBack == null or writeInfoDto.orderByBack == 'desc'}">내림차순</option>
                <option value="asc" th:selected="${writeInfoDto.orderByBack == 'asc'}">오름차순</option>
            </select>
            <select id="orderByFront">
                <!-- Dto가 비어있거나 값이 'update'일 경우 '업데이트순'이 선택됨 -->
                <option value="update" th:selected="${writeInfoDto.orderByFront == null or writeInfoDto.orderByFront == 'update'}">업데이트순</option>
                <option value="view" th:selected="${writeInfoDto.orderByFront == 'view'}">조회순</option>
                <option value="heart" th:selected="${writeInfoDto.orderByFront == 'heart'}">추천순</option>
            </select>
        </div>
    </div>
    <div>
        <div class="books" id="itemContainer">
            <!-- Thymeleaf template to render initial items -->
            <div th:each="book : ${items}">
                <a th:href="'/writeNovel/' + ${book.id}">
                    <div class="bookTable">
                        <div th:unless="${book.writeImg.imgUrl == null or #strings.isEmpty(book.writeImg.imgUrl)}">
                            <img th:src="${book.writeImg.imgUrl}" width="150px" height="155px">
                        </div>
                        <p th:text="${book.title}"></p>
                        <p th:text="${book.member.Nickname}"></p>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2 2 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386"/>
                            </svg>
                            <a th:text="${book.totalHeart}"></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <button onclick="scrollToTop()" id="scrollToTopBtn" title="Go to top">Top</button>

    <script>
        // Get the button
        var scrollToTopButton = document.getElementById("scrollToTopBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            scrollToTopButton.style.display = "block";
          } else {
            scrollToTopButton.style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function scrollToTop() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

</div>
</body>
</html>
