<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">

    <head>
        <style>

        </style>
    </head>
    <body>
        <div>
            <div>
                <ul>
                    <li>베스트 모음</li>
                    <li>판타지</li>
                    <li>로맨스판타지</li>
                    <li>글쓰기</li>
                    <li>포인트 적립</li>
                    <li>포인트 충전</li>
                    <li href="/member/login">로그인</li>
                    <li>로그아웃</li>
                    <li href="/member/new">회원가입</li>
                </ul>
            </div>
        </div>
    </body>
</header>
</html>