
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


html{
 font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    position: relative;
    min-height: 100%;
    margin: 0;
}


.footer {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: fixed; /* Footer를 페이지 하단에 고정시킵니다 */
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0); /* 배경 색상을 흰색과 50% 투명도로 설정합니다 */
  border-top: 1px solid rgba(255, 255, 255, 0); /* 상단 경계선도 동일한 투명도로 설정합니다 */
  z-index: 1000; /* 다른 콘텐츠 위에 표시되도록 설정합니다 */
}
.content{
 font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}