<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>오늘의 주가</title>
</head>
<body>
<div class="container">
    <div th:replace="/nav.html :: fragment-nav"></div>

    <div class="h4 pb-2 mb-4 text-danger border-bottom border-info"></div>
    <div><span>조회시간: </span><span th:text="${jobDate}" ></span></div>

    <div class="card">
        <div class="card-header">
            <h2>예스24 </h2>
        </div>
        <div class="card-body">
            <div>
                <span class="fs-1" th:text="${equity.stck_prpr}"></span>원<!--주식의 현재 가격을 나타내는 변수나 속성 이름-->
                <span th:text="${equity.prdy_vrss}" th:style="${equity.prdy_vrss_sign<'3'?'color:red':(equity.prdy_vrss_sign>'3'?'color:blue':'color:black')}"></span><!-- prdy_vrss_sign이 3보다 작으면 빨간색으로, 3보다 크면 파란색-->
                <span th:text="${equity.prdy_ctrt}" th:style="${equity.prdy_vrss_sign<'3'?'color:red':(equity.prdy_vrss_sign>'3'?'color:blue':'color:black')}"></span>
            </div>
        </div>
    </div>


    <div class="h4 pb-2 mb-4 text-danger border-bottom border-info"></div>

    <div class="card">
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <td>PER</td><!--주가 수익 비율-->
                    <td th:text="${equity.per}"></td>
                    <td>EPS</td><!--주당 순이익--->
                    <td th:text="${equity.eps}"></td>
                </tr>
                <tr>
                    <td>PBR</td><!--주가 대 자산 가치 비율로, 주가를 주당 자산 가치(BPS)로 나눈 값입-->
                    <td th:text="${equity.pbr}"></td>
                    <td>BPS</td><!--주가 대 자산 가치 비율로, 주가를 주당 자산 가치(BPS)로 나눈 값입-->
                    <td th:text="${equity.bps}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>