<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <title>Title</title>

    <!-- Bootstrap CSS 포함 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Bootstrap JavaScript 포함 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function () {




              $('#current').change(function() {
                  // 선택된 값 가져오기
                  var selectValue = $(this).val();

                  // 모든 카드 숨기기
                  $('.card').hide();

                  // 선택된 값에 따라 카드 표시
                  if (selectValue === "KDR") {
                      $('#KDR').show();

                      KDR();
                  } else if (selectValue === "YES") {
                      $('#YES').show();
                      YES();
                  }
              });

              // 페이지 로드 시 현재 선택된 값에 따라 카드 표시
              $('#current').trigger('change');



                $('#KDR_coin').change(function(){
            //코인을 선택하면 현재 가격에 대한 합계 포인트 사용 비용이 나온다.
            var KDR_stck=$('#KDR_stck_prpr').text();
            var count = $(this).val();


            var total =  (KDR_stck) * (count);
            $('#KDR_total').text(total);

               var client = [[${total}]]

             if(client<total){
                 $('#KDR_coinBtn').hide();
                 $('#KDR_pointBtn').show();
             }else{
                $('#KDR_coinBtn').show();
                $('#KDR_pointBtn').hide();
             }


        })


                $('#YES_coin').change(function(){
            //코인을 선택하면 현재 가격에 대한 합계 포인트 사용 비용이 나온다.
            var YES_stck=$('#YES_stck_prpr').text();
            var count = $(this).val();


            var total =  (YES_stck) * (count);
            $('#YES_total').text(total);

             var client = [[${total}]]

             if(client<total){
                 $('#YES_coinBtn').hide();
                 $('#YES_pointBtn').show();
             }else{
                $('#YES_coinBtn').show();
                $('#YES_pointBtn').hide();
             }


        })



        });


          //만약에 키다리 스튜디오를 선택할 경우, 해당 주식 금액이 나온다.
        function KDR() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            url = "/equities/020120";

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                beforeSend: function (xhr) {
                    // 데이터 전송하기 전에 헤더에 csrf 값을 설정
                    xhr.setRequestHeader(header, token);
                },
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    var equity = result.equity;

                    var stck_prpr = equity.stck_prpr;

                        var prdy_vrss = equity.prdy_vrss;
                        var prdy_vrss_sign = equity.prdy_vrss_sign;

                           var color;
                            if (prdy_vrss_sign < 3) {
                                color = 'red';
                            } else if (prdy_vrss_sign > 3) {
                                color = 'blue';
                            } else {
                                color = 'black';}

                    $('#KDR_stck_prpr').text(stck_prpr);
                    $('#KDR_prdy_vrss').text(prdy_vrss).css('color', color);

                    $('#KDR_total').text(stck_prpr);

                    var client = [[${total}]]

                        if(client<stck_prpr){
                         $('#KDR_coinBtn').hide();
                         $('#KDR_pointBtn').show();
                     }else{
                        $('#KDR_coinBtn').show();
                        $('#KDR_pointBtn').hide();
                     }


                },
                error: function (jqXHR, status, error) {
                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/members/login';
                    } else {
                        alert(jqXHR.responseText);
                    }
                }
            });
        }




         function YES() {//예스 24를 선택할 경우 해당 주식의 가격이 나온다.
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                url = "/equities/053280";

                $.ajax({
                    url: url,
                    type: "POST",
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        // 데이터 전송하기 전에 헤더에 csrf 값을 설정
                        xhr.setRequestHeader(header, token);
                    },
                    dataType: "json",
                    cache: false,
                    success: function (result, status) {
                        var equity = result.equity;

                        var stck_prpr = equity.stck_prpr;
                        var prdy_vrss = equity.prdy_vrss;
                        var prdy_vrss_sign = equity.prdy_vrss_sign;

                              var color;
                            if (prdy_vrss_sign < 3) {
                                color = 'red';
                            } else if (prdy_vrss_sign > 3) {
                                color = 'blue';
                            } else {
                                color = 'black';}

                        $('#YES_stck_prpr').text(stck_prpr);
                        $('#YES_prdy_vrss').text(prdy_vrss).css('color', color);

                        $('#YES_total').text(stck_prpr)


                        var client = [[${total}]]

                        if(client<stck_prpr){
                         $('#YES_coinBtn').hide();
                         $('#YES_pointBtn').show();
                     }else{
                        $('#YES_coinBtn').show();
                        $('#YES_pointBtn').hide();
                     }


                    },
                    error: function (jqXHR, status, error) {
                        if (jqXHR.status == '401') {
                            alert('로그인 후 이용해주세요');
                            location.href = '/members/login';
                        } else {
                            alert(jqXHR.responseText);
                        }
                    }
                });
            }

        function point(){
            location.href="/charge"
        }




          function sliding() {
        var context = document.getElementById('slide_context');
        // 'show' 클래스를 토글하여 슬라이드 효과 적용
        if (context.classList.contains('show')) {
            context.classList.remove('show');
        } else {
            context.classList.add('show');
        }
    }



    </script>
</th:block>

    <th:block layout:fragment="css">
    <style>
                /* 부모 컨테이너 */
         .container {
             max-width: 600px; /* 최대 너비 설정 */
             min-width: 300px; /* 최소 너비 설정 */
             margin: 0 auto; /* 중앙 정렬 */
             padding: 0 15px; /* 좌우 여백 설정 */
         }

         /* card */
         .card {
             width: 100%;
             max-width: 600px; /* 최대 너비 설정 */
             min-width: 300px; /* 최소 너비 설정 */
             margin: 20px auto;
             text-align: center;
         }

           .sel_1, .sel_2 {
             margin: 10px;
         }

         .sel_2 {
             text-align: right;
         }

         .fs-2 {
             font-size: 0.8em; /* 폰트 사이즈 조정 */
         }

         .btnBtn {
             margin-top: 10px;
         }

         /* 미디어 쿼리로 모바일에서의 스타일 조정 */
         @media (max-width: 576px) {
             .sel_1, .sel_2 {
                 text-align: center;
             }

             .sel_2 {
                 margin-left: 0;
             }

             .fs-2 {
                 font-size: 0.9em;
             }

             .btnBtn {
                 margin-left: 0;
             }
         }


         /* 슬라이드 컨테이너 */
         #slide_context {
             width: 100%; /* 폭을 부모에 맞춤 */
             max-width: 600px; /* 최대 너비 설정 */
             min-width: 300px; /* 최소 너비 설정 */
             overflow: hidden; /* 내용이 넘치는 것을 숨김 */
             max-height: 0; /* 초기 최대 높이 설정 */
             opacity: 0; /* 초기 투명도 설정 */
             transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* 애니메이션 트랜지션 설정 */
             background-color: white; /* 배경 색상 설정 (선택 사항) */
             padding: 0; /* 여백 초기 설정 */
             border: 1px solid #dee2e6; /* 테두리 설정 (선택 사항) */
             border-radius: 4px; /* 테두리 둥글게 설정 (선택 사항) */
             margin: 20px auto; /* 카드와 동일한 여백 설정 */
         }

         /* show 클래스 */
         #slide_context.show {
             max-height: 500px; /* 슬라이드가 열릴 때의 최대 높이 설정 */
             opacity: 1; /* 보일 때 투명도 설정 */
             padding: 10px; /* 여백 설정 (선택 사항) */
         }
    </style>
    </th:block>



<div layout:fragment="content">

    <div class="sel_1">
        <select id="current">
            <option th:value="KDR">키다리스튜디오(020120)</option>
            <option th:value="YES">예스24(053280)</option>
        </select>
    </div>


    <div class="sel_2">

        현재 포인트: <span th:text="${total}"></span>point

    </div>
    <div class="container">
    <div class="h4 pb-2 mb-4 text-danger border-bottom border-info"></div>
        <div class="card" id="KDR">
            <div class="card-header">
                <h2>키다리스튜디오(020120)</h2>
            </div>
            <div class="card-body">
                <div>
                    <span class="fs-1" id="KDR_stck_prpr"></span>원<!--주식의 현재 가격을 나타내는 변수나 속성 이름-->
                    <span class="fs-2" id="KDR_prdy_vrss"></span>
                              <!-- 주식 변동 가격을 여기에 표시 -->
                <div>
                    <span>변경 코인 수량</span>
                    <select id="KDR_coin">
                        <option value="1">1코인</option>
                        <option value="10">10코인</option>
                        <option value="25">25코인</option>
                        <option value="50">50코인</option>
                        <option value="100">100코인</option>
                    </select>

                </div>
                <div>
                    총<span id="KDR_total"></span>포인트
                </div>

            </div>
                <div class="btnBtn">
                    <button type="button" id="KDR_coinBtn"  class="btn btn-outline-secondary">코인 결제</button>
                    <button type="button" id="KDR_pointBtn"  class="btn btn-outline-secondary"
                            onclick='point()'>포인트 결제</button>

                </div>

        </div>
    </div>

        <div class="card" id="YES">
            <div class="card-header">
                <h2>예스24(053280)</h2>
            </div>
            <div class="card-body">
                <div>
                    <span class="fs-1" id="YES_stck_prpr"></span>원<!--주식의 현재 가격을 나타내는 변수나 속성 이름-->
                    <span class="fs-2" id="YES_prdy_vrss" ></span>
                </div>
                <div>
                    <span>변경 코인 수량</span>
                    <select id="YES_coin">
                        <option value="1">1코인</option>
                        <option value="10">10코인</option>
                        <option value="25">25코인</option>
                        <option value="50">50코인</option>
                        <option value="100">100코인</option>
                    </select>

                </div>
                <div>
                    총<span id="YES_total"></span>포인트
                </div>
                <div class="btnBtn">
                    <button type="button" id="YES_coinBtn"  class="btn btn-outline-secondary">코인 결제</button>
                    <button type="button" id="YES_pointBtn"  class="btn btn-outline-secondary"
                            onclick='point()'>포인트 결제</button>

                </div>
            </div>

        </div>
    <div>
        <div onclick="sliding()">
            <span>결제 내역</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
        </div>
        <div id="slide_context" >
            <table>
                <thead>
                <tr>
                    <th style="width:100px;">포인트</th>
                    <th>코인</th>

                </tr>
                </thead>
                <tbody th:each="ch : ${pointList}">
                <tr>
                    <td th:text="${ch.point}" ></td>
                    <td th:text="${ch.coin}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    </div>






</div>
</html>